<!DOCTYPE html>

<html>
  <head>
    <title>{{ .Site }}</title>
    {{ template "sources" }}
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-xs-12">
    
    {{ template "header" . }}
    <h2>Visitor Preference Visualizations</h2>
    <div class="row" id="visualizationChoices">
      <div class="col-xs-6">
	<div class="jumbotron" onClick="routie('/likes-dislikes');">
	  <i class="fa fa-thumbs-up fa-4x"></i>	  
	  <h2>By Likes and Dislikes</h2>
	</div>
      </div>
      <div class="col-xs-6">
	<div class="jumbotron" onClick="routie('/individual-work');">
	  <i class="fa fa-search fa-4x"></i>	  
	  <h2>By Individual Work</h2>
	</div>
      </div>
<!--  
      <div class="clearfix"></div>
      <div class="col-xs-6">
	<div class="jumbotron" onClick="routie('/work-properties');">
	  <i class="fa fa-paint-brush fa-4x"></i>	  
	  <h2>By Work Properties</h2>
	  
	</div>
      </div>
      <div class="col-xs-6">
	<div class="jumbotron" onClick="routie('/controversial');">
	  <i class="fa fa-question-circle fa-4x"></i>	  
	  <h2>By Controversy</h2>
	  
	</div>

      </div>
-->
    </div>
    <div class="row" id="visualizationRow">
      <div class="col-xs-12">
      <h3 id="visualizationTitle"></h3>
      <div id="visualizationData"></div>
      </div>
    </div>
    <div class="row home-footer">
      <div class="col-xs-12">Built for FIRE PVC 2017 by Mark Keller and Andrew Sumner</div>
    </div>
    {{ template "footer" }}
    <script src="/static/js/routie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script src="/static/js/visualize.js"></script>
	</div>
      </div>
    </div>
  </body>
</html>
